* {
    overflow: hidden;
}

#welcome-box {
    background: #945ff5;
    box-shadow: inset -35px -35px 70px #ffed63,
        inset 35px 35px 70px #ed98ff;
}

#welcome-text {
    font-family: 'Fredoka One', cursive;
}


#login-text {
    font-family: 'Fredoka One', cursive;
    animation: jumping 1s infinite;
}

@keyframes jumping {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

#email,
#senha,
#repitaSenha {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#email:focus,
#email:hover,
#senha:focus,
#senha:hover,
#repitaSenha:focus,
#repitaSenha:hover {
    outline: none;
    padding: .3rem;
    border-radius: 1rem;
    border-color: #945ff5;
}

#email::placeholder,
#senha::placeholder,
#repitaSenha::placeholder {
    color: #777;
}

#email:focus::placeholder,
#senha:focus::placeholder,
#repitaSenha:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}


#entrar {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #ffed63, #3f00b5);
    background-size: 800% 400%;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 6s infinite;
    cursor: pointer;
}


#entrar:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

#entrar:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

form {
    height: 55%;
}

p {
    font-size: 17px;
}

a {
    color: #3f00b5;
}

.toast-position {
    top: 30px;
    right: 50px;
}

#box {
    animation: bounce-in-right 2s ease;
} 



@keyframes bounce-in-right {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
} 
